*.swp
*~
*.o
*.lo
*.la
*.deps
*.libs
*.pyc
Makefile.in
Makefile
linux_64
config/test-driver
.dirstamp

aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/Makefile.aclocal
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
config/py-compile
configure
libtool

src/Formats/SKA1/ska1_udpgen
src/Formats/SKA1/ska1_udprecv
