body {
  margin: 0; padding: 0;
  background: white;
  color: #333;
  font: 12px/1.5 'segoe ui', 'lucida sans unicode', 'lucida grande', lucida, sans-serif;
  }
.cleaner {
  clear: both;
  height: 1px; margin: 0;
  }
#main {
  position: relative;
  width: 1018px;
  margin: 0 auto;
  padding: 13px 0 0 0;
  }
#topbg {
  position: absolute; top: 0; left: 0; z-index: -1;
  width: 100%; height: 143px;
  background: white;
  }
#header {
  position: relative;
  width: 1018px; height: 90px;
  background: #AA3939;
  }

/* @group Header */

#hdr-overlay {
  position: relative; top: -15px; left: 0px;
  width: 1018px; height: 105px;
  background: url('images/spip_background.png') bottom left no-repeat;
  /*background: url('header-light.png') top right no-repeat;*/
  }
#header h1 {
  position: absolute; top: 15px; left: 20px;
  margin: 0;
  font-size: 18px;
  color: rgba(255,255,255,0.5);
  }
#header h2.sub {
  position: absolute; top: 45px; left: 20px;
  margin: 0;
  text-align: left;
  font-size: 16px;
  color: rgba(255,255,255,1.0);
  }
#header .box {
  position: absolute; top: 6px;
  width: 75px; height: 25px;
  /*background: silver;*/
  }
#hdr-box1 { left: 15px; background-color: #FFAAAA; }
#hdr-box2 { left: 100px; background-color: #D46A6A; }
#hdr-box3 { left: 185px; background-color: #801515; }
#hdr-box4 { left: 270px; background-color: #550000; }

#header h2 {
  position: absolute; top: 65px; right: 140px;
  margin: 0;
  width: 8em;
  font-size: 15px;
  line-height: 1.33;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  color: rgba(255,255,255,0.5);
  }

/* @end */

/* @group menu */

#menu {
  margin: 0; padding: 1px 0;
  list-style-type: none;
  height: 26px;
  border-bottom: 1px solid black;
  }
#menu li {
  float: left;
  margin: 0; padding: 0;
  width: 16.66%;
  }
#menu a {
  position: relative;
  display: block;
  margin: 1px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: #FFAAAA;
  color: #801515;
  }
#menu a span {
  display: block;
  position: absolute; top: 5px; left: 8px;
  width: 8px; height: 8px;
  background: #AA3939;
  }
#menu a.sel {
  background: #801515;
  color: #FFAAAA;
  }
#menu a:hover {
  background: #550000;
  color: #FFAAAA;
  }
/* @end */

#content {
  padding: 1px;
  color: #333;
  }
#content a {
  padding: 2px 3px;
  }
#content p {
  margin: 0.25em 0;
  }

#content h1 {
  color: #801515;
}
#content input.button {
  float: right;
  margin: 15px 0 20px 0;
  width: 150px;
  height: 30px;
  background: #550000;
  color: #FFAAAA;
  border: 1px solid #FFAAAA;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}

#left {
  float: left;
  width: 200px;
  padding: 10px 20px;
  border-right: 1px dotted white;
  }
#left h3 {
  margin: 0.5em 0 0.3em;
  font-size: 18px;
  font-weight: normal;
  }
#left dt {
  float: left;
  font-weight: bold;
  }
#left dd {
  margin: 1em 0 1em 6em;
  }
#ico {
  float: left;
  padding: 5px;
  }
#left h4 {
  margin: 0 0 0 6em;
  font-size: 100%;
  font-weight: bold;
  }
#left ul {
  margin: 0 0 0 6em; padding: 0;
  color: red;
  list-style-type: square;
  list-style-position: inside;
  }

#right {
  float: right;
  width: 700px;
  margin: 0 20px 0 0;
  padding: 10px 0;
  }
#right h3 {
  clear: left;
  margin: 0.5em 0 0.3em 0;
  font-size: 12px;
  }
#right h3 span {
  display: inline-block;
  width: 9px; height: 9px;
  margin-right: 1em;
  border: 1px solid silver;
  vertical-align: middle;
  }
#right .photo {
  float: left;
  margin: 0 15px 15px 0;
  }
#right h4 {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  }
#right .link {
  text-align: right;
  }
#rbox {
  float: left;
  position: relative;
  width: 180px;
  margin: 15px 0 20px 0;
  padding: 2px 5px 2px 30px;
  font-size: 10px;
  line-height: 1.2;
  }
#rbox span {
  display: block;
  position: absolute; top: 5px; left: 8px;
  width: 8px; height: 8px;
  background: white;
  }
#right button {
  float: right;
  margin: 15px 0 20px 0;
  width: 150px;
  height: 30px;
  background: #550000;
  color: #FFAAAA;
  border: 1px solid #FFAAAA;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  }

#centre button {
  float: right;
  margin: 15px 0 20px 0;
  width: 150px;
  height: 30px;
  background: #550000;
  color: #FFAAAA;
  border: 1px solid #FFAAAA;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}

#footer {
  margin: 10px 0 10px 0;
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #FFAAAA;
  color: #550000;
  }
#footer a {
  padding: 3px 5px;
  color: #801515;
  }
